<div class="table_wrap">
  <div class="table_center">
    <table mat-table [dataSource]="dataSource" class="tab">

      <!-- Define dynamic columns -->
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
        <td mat-cell *matCellDef="let user">{{ user[column] }}</td>
      </ng-container>

      <!-- Define dynamic column headers and rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let user; columns: displayedColumns"></tr>
    </table>

    <!-- Paginator outside the table -->
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="5" showFirstLastButtons
      aria-label="Select page of users">
    </mat-paginator>
  </div>
</div>
